name: vetki and relaese

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pages: write
      id-token: write

    steps:
      # Шаг 1: Получаем код из репозитория
      - name: Get code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      # Шаг 2: Подготавливаем файлы для публикации
      - name: Copy files
        run: |
          # Создаем папку _site
          mkdir -p _site
          
          # Создаем внутри папку с именем версии
          mkdir -p _site/${{ github.event.release.tag_name }}
          
          # Копируем файлы в папку с версией
          cp -r *.html ru/ en/ _site/${{ github.event.release.tag_name }}/
          
          # Исправляем ссылки прямо в папке с версией
          find _site/${{ github.event.release.tag_name }} -name "*.html" -exec sed -i "s|/rep_dliy_lab_4/|/rep_dliy_lab_4/${{ github.event.release.tag_name }}/|g" {} \;

      # Шаг 3: Публикуем на GitHub Pages
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_site
          publish_branch: gh-pages
          keep_files: true