name: vetki and relaese

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Шаг 1: Получаем код из репозитория
      - name: Get code
        uses: actions/checkout@v4

      - name: Prepare and deploy
        run: |
            mkdir -p _site
            mkdir -p _site/${{ github.event.release.tag_name }}
            cp -r *.html ru/ en/ _site/${{ github.event.release.tag_name }}/


      # Шаг 3: Публикуем на GitHub Pages
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_site
          publish_branch: gh-pages
          keep_files: true